.container {
  background-color: white;
}

.top-header {
  margin-top: 0;
  line-height: normal;
}

#logo-top {
  width: 30%;
  position: relative;
  left: 35%;
  margin-top: 0;
}


li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  margin-right: 0.5rem;
}

.nav-left, .nav-right {
  float: right;
  margin-top: 0;
}

#b-dx {
  border-right: 1px solid black;
  padding-right: 10px;
}

#m-dx {
  margin-left: 3px;
}

.bg-img {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

#title-img {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 150px;
  font-size: 3rem;
}

#p-img {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.2rem;
}

#apple {
 height: 5%;
 position: absolute;
 left: 32%;
 margin-left: 1%;
 text-align: center;
}

#android {
  height: 5%;
  position: absolute;
  left: 52%;
  text-align: center;
}

.fa-bars {
  color: black;
  float: right;
  position: relative;
  left: 15%;
  bottom: 1rem;
}
