.container {
  margin-top: 2%;
  background-color: white;
}

#logo-top {
  width: 30%;
  position: relative;
  left: 35%;
  top: 1.2rem;
}


li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  margin-right: 1rem;
}

.nav-left, .nav-right {
  float: right;
}

#b-dx {
  border-right: 1px solid black;
  padding-right: 10px;
}

#m-dx {
  margin-left: 3px;
}

.bg-img {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

#title-img {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 150px;
  font-size: 3rem;
}

#p-img {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.2rem;
}

#apple {
 height: 60px;
 position: absolute;
 left: 750px;
}

#android {
  height: 60px;
  position: absolute;
  left: 980px;
}
